body {
  padding: 3em;
  font-family: "Helvetica Neue";
}


table th {
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.negative {
  color: #f44336;
}

.table tbody tr td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.table {
	border: none;
}

th {
  border: none;
  background: white !important;
  font-weight: bold;
  color: #555 !important;
}

td {
  width: 5%;
}

.table-striped > tbody > tr:nth-child(odd) > td {
	background-color: white;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background: white;
}

.tooltip-custom {
  font-size: 0.9em;
  position: relative;
  color: #FFF;
  opacity: 0;
  display: none;
}

.table td:hover .tooltip-custom {
  opacity: 1;
  display: block;
  pointer-events: none;
}

.tooltip-custom span {
  font-weight: normal;
  position: absolute;
  width: 160px;
  height: auto;
  text-align: left;
  padding: 10px 15px;
  margin-top: -30px;
  margin-left: -230px;
  background: rgba(0,0,0,0.9);
  color: #f9f9f9;
  z-index: 999;
  word-wrap: break-word;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.tooltip-custom span:before {
  content: '';
  position: absolute;
  top: 20px;
  right: -15px;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.9);
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.tooltip-custom small {
  font-size: 0.9em;
  color: #aaa;
}

number {
  font-weight: bold;
}

td {
  cursor: default;
}

.suggested {
  color: rgb(31, 119, 180);
}

.actual {
  color: #6AAD54;
}

small {
  font-size: 0.8em;
  color: #999;
  padding-left: 4px;
}


.accrual {
  position: relative;
}

.accrual:after {
  content: "*";
  color: #F57C00;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 0.5em;
  position: absolute;
  top: 19px;
  right: -2px;
  
}